html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #FFFADD;

}

#container {
  display: grid;
  grid-template-rows: 8rem auto 8rem;
  grid-template-columns: 16rem auto;

  grid-template-areas:
    'header header'
    'sidebar main-content'
    'sidebar main-content';
  height: 100%;
}

#header {
  grid-area: header;
  border-style: solid;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #FFCC70;
}

#header>img {
  height: 120px;
  width: 120px;
  padding: 10px;
}

#sidebar {
  grid-area: sidebar;
  border-style: solid;
  border-top: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: #8ECDDD;
}

.fadeBar {
  margin: 0;
  margin-top: -20px;
  border: 0;
  height: 1px;
  background: #333;
  background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
  background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
  background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
  background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
  background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
}

.sidebarButton {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 235px;
  margin: 0px 10px;
  background-color: transparent;
  border: 0;
  text-align: left;
  font-size: large;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebarImg {
  height: 35px;
  width: 35px;
}

.sidebarX {
  height: 15px;
  width: 15px;
  margin-left: auto;
}

.addProject {
  display: none;
  flex-direction: column;
  align-content: center;
  margin: 0px 10px;
  gap: 5px;
}

#main {
  grid-area: main-content;
  border-style: solid;
  border-left: none;
  border-top: none;
  text-align: center;
}

.projectTasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid;
  margin: 0px 400px;
}

.projectButton {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-size: large;
}

.projectX {
  height: 15px;
  width: 15px;
}

.projectTime {
  margin-left: auto;
}

.addTaskButton {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
}

.modal-body{
  display: grid; 
  grid-template: 1fr 1fr / 1fr;
  text-align:left;
}

.modal-content{
  background-color: #FFCEE0;
}

.modal-header, .modal-footer{
  border-color: black;
  }